* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf');
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
